*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: Merriweather, Arvo, Georgia, Times, serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.contanier {
  margin: 0 8rem 0 8rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
